<% include partials/header %>

<section>
    <h1 id="error-page">404. That's an error.</h1>
    <a id="home-error" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
</section>


<% include partials/footer %>