<% include partials/header %>

<h1>  Welcome. Welcome. Welcome  </h1>

<form action="/searchdb" method="GET">
    <input type="text" placeholder="search for" name="search">
    <button>Search</button>
</form>

<% include partials/footer %>

