body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;;
    grid-gap: 1em;
    border: none;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 1);
    margin: 0;
}

header > div{
    padding: 0.5em;
    color: rgb(0, 0, 0);
    justify-self: center;
}

input{
    background-color: white;
    height: 30px;
    line-height: 30px;
    padding-left: 0.5em; 
    outline:none;
    border: 1px solid black;
    border-radius: 10px;
    text-transform: capitalize;
}

button{
    height: 30px;
    line-height: 30px;
    width: 70px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: none;
    border: none;
    outline:none;
}

a{
    height: 30px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover, button:hover{
    color: blue;
    text-decoration: underline;
}

section{
    padding: 1em;
    margin: 10px;
    margin-right: 0;
}

h2{
    text-transform: capitalize;
    margin: 5px 0 5px 0;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-auto-rows: 100px;
}

.wrapper > div{
    background-color: greenyellow;
    padding: 1em;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
}